[Desktop Entry]
Version=1.0
Name=ULMEX Core
Comment=ULMEX P2P Cryptocurrency
Comment[fr]=ULMEX, monnaie virtuelle cryptographique pair à pair
Comment[tr]=ULMEX, eşten eşe kriptografik sanal para birimi
Exec=ulmex-qt %u
Terminal=false
Type=Application
Icon=ulmex128
MimeType=x-scheme-handler/ulmex;
Categories=Office;Finance;
StartupWMClass=Ulmex-qt
