# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=ULMEX Core Daemon SNAP
Comment=main
GenericName=ULMEX Digital Currency Daemon Client main network
Exec=ulmex-core.daemon %u
Terminal=true
Type=Application
Icon=${SNAP}/share/pixmaps/ulmex.png
MimeType=x-scheme-handler/ulme;
Categories=X-Office;X-Finance;
Keywords=internet;ulmex;zulme;core;wallet;daemon;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
